<div class="sample-schedule-box">
    <div class="sample-schedule-text">Here's your day in New York City</div>
</div>

<div class="schedule-page">

    <div class="container-fluid">
        <div class="row">

            <div class="schedule-layout-morning col-sm-6">
                <div class="time-of-day">Morning</div>

                <%@activity = @morning %>
          <%= render 'activity-cards' %>

          <%@activity = @lunch %>
          <%= render 'activity-cards' %>

            </div>


            <div class="schedule-layout-afternoon col-sm-6">
                <div class="time-of-day">Afternoon</div>

                <%@activity = @afternoon %>
          <%= render 'activity-cards' %>

          <%@activity = @dinner %>
          <%= render 'activity-cards' %>




            </div>

        </div>
    </div>

</div>
