<h1><%=@current_user.first_name%></h1>
<ul>
<% @schedules.each do |schedule| %>
<% schedule.activities.each do |activity|%>
<li><%= activity.name%><%=activity.time_slot%></li>
<% end %>
<% end %>
</ul>
