<div class="sample-schedule-box">
<div class="sample-schedule-text">Here's your day in New York City</div>
</div>

<div class="schedule-page">

<div class="container-fluid">
    <div class="row">

    <div class="schedule-layout-morning col-sm-6">
        <div class="time-of-day">Morning</div>

<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
        <div class="schedule-front">
            <span>Front</span>
        </div>
        <div class="schedule-back">
            <div class="back-logo">
                <div class="back-title">
                Back
                </div>
            </div>
        </div>
    </div>
</div>

<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
        <div class="schedule-front">
            <span>Front</span>
        </div>
        <div class="schedule-back">
            <div class="back-logo">
                <div class="back-title">
                Back
                </div>
            </div>
        </div>
    </div>
</div>    </div>

    <div class="schedule-layout-afternoon col-sm-6">
        <div class="time-of-day">Afternoon</div>

<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
        <div class="schedule-front">
            <span>Front</span>
        </div>
        <div class="schedule-back">
            <div class="back-logo">
                <div class="back-title">
                Back
                </div>
            </div>
        </div>
    </div>
</div>


<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
        <div class="schedule-front">
            <span>Front</span>
        </div>
        <div class="schedule-back">
            <div class="back-logo">
                <div class="back-title">
                Back
                </div>
            </div>
        </div>
    </div>
</div>    </div>

    </div>
</div>

</div>