<div class="create-box">
<p class="create-box-text"> <%=@current_user.first_name%>'s Schedules </p>
</div>
<% @schedules.each do |schedule| %>
<div class="container">
<a href="/schedules/<%=schedule.id%>}">
<div class="row">
<div class="schedule-list" class="col-6">
<p> Schedule: <%= schedule.id %></p>
<span>&nbsp;&nbsp;&nbsp</span>
<p> <%= schedule.updated_at%></p>
</div>
</div>
</a>
</div>
<% end %>
