<div class="choose-museum">
<div class="schedule-box"></div>
<div class="schedule-check-box">
</div>
<div class="schedule-box"></div>
<div class="schedule-box"></div>
</div>

<%= form_tag("/schedules/create_from_yelp", method: "post") do%>
<%= submit_tag %>
<%end%>
