    <%= simple_form_for @schedule do |f| %>
        <%= f.hidden_field :user_id, value: @current_user.id %>
     <div class="create-schedule-button">   <%= f.submit "CREATE A DAY IN NYC", class: 'create-schedule-text' %> </div>
    <% end %>

<div class="sample-schedule-box">
<a href="/schedules/1"><div class="create-schedule-button"><div class="sample-schedule-text">SAMPLE ITINERARY</div></div>
</div></a>
