<div class="schedule-layout">
    <div class="schedule-header">Morning</div>
    <div class="destination-box"></div>
    <div class="dining-box"></div>
</div>

<div class="schedule-layout">
    <div class="schedule-header">Afternoon</div>
    <div class="destination-box"></div>
    <div class="dining-box"></div>
</div>


