
      <div class="checkered-line row">
      <div class="white-square"></div>
      <div class="black-square"></div>
      <div class="white-square"></div>
      <div class="black-square"></div>
      <div class="white-square"></div>
      <div class="black-square"></div>
      <div class="white-square"></div>
      <div class="black-square"></div>
      <div class="white-square"></div>
      <div class="black-square"></div>
      <div class="white-square"></div>
      <div class="black-square"></div>
      <div class="white-square"></div>
      <div class="black-square"></div>
      <div class="white-square"></div>
      <div class="black-square"></div>
      <div class="white-square"></div>
      <div class="black-square"></div>
      <div class="white-square"></div>
      <div class="black-square"></div>
      </div>
      <div class="checkered-line row">
      <div class="black-square"></div>
      <div class="white-square"></div>
      <div class="black-square"></div>
      <div class="white-square"></div>
      <div class="black-square"></div>
      <div class="white-square"></div>
      <div class="black-square"></div>
      <div class="white-square"></div>
      <div class="black-square"></div>
      <div class="white-square"></div>
      <div class="black-square"></div>
      <div class="white-square"></div>
      <div class="black-square"></div>
      <div class="white-square"></div>
      <div class="black-square"></div>
      <div class="white-square"></div>
      <div class="black-square"></div>
      <div class="white-square"></div>
      <div class="black-square"></div>
      <div class="white-square"></div>

      </div>