$header-color: #FFF8F0;
$header-grey: #595959;
$background-color: #8E9AAF;
$destination_color: #70D8CC;
$dining-color: #FF6A00;
$header-font-color: #F7E227;
$text-primary: #000;
$form-primary: #333333;