@import 'partials/colors';
@import 'partials/fonts';
@mixin box {
    border-radius: 25px;
    width: 400px;
    height: 200px;
    box-shadow: 8px 8px 6px #262626;
    font-family: $body-font-stack;
}

@mixin form-body {
    font-family: $body-font-stack;
    font-size: 20px;
    color: $form-primary;
}

@mixin subheader {
    font-family: $header-font-stack;
    font-size: 40px;
}

.header {
    background-color: $header-color;
}

#header-image {
    opacity: 0.3;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $background-color;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $background-color;
}

h1 {
    font-family: $header-font-stack;
    color: $header-color;
}

// input text for login, sign-up, and schedule forms
.form {
    @include form-body;
}

.simple_form div.input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

.choose-museum-header {
    @include subheader;
}

.choose-museum {
    display: flex;
    flex-direction: row;
}

.schedule-layout {
    display: flex;
    flex-direction: column;
}

//these two classes are styling the header on the schedule boxes
.card .card__corner .card__corner-triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 2em 2em 0;
    border-color: transparent #f1f2f2 transparent transparent;
}

.schedule-header {
    @include subheader;
    color: $dining-color;
    padding: 5px;
    border-radius: 25px;
    box-shadow: 8px 8px 6px #262626;
    background-color: $header-color;
    transform: rotate(350deg);
}

//animation to fade in text from the right
@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(-15px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.right-fade {
    opacity: 0;
    animation: fade-in-right ease 0.4s forwards;
    animation-delay: 0.8s;
}

//the four main boxes that will hold text content on the site
.schedule-box {
    @include box;
    background-color: $header-font-color;
    margin: 40px auto 10px auto;
}

.destination-box {
    @include box;
    background-color: $destination_color;
}

.dining-box {
    @include box;
    background-color: $dining-color;
}

.login-box {
    border-radius: 25px;
    width: 400px;
    height: 400px;
    box-shadow: 8px 8px 6px #262626;
    font-family: $body-font-stack;
    background-color: $dining-color;
}

#login-header {
    @include subheader;
    color: $header-color;
    text-shadow: rgba(84, 84, 84, 1.00) 0px -1px 4px;
}

//the hint sits below an input field and advises the user the format for entry
.hint {
    font-family: $body-font-stack;
    font-weight: $light;
    color: #f2f2f2;
    font-style: italic;
    font-size: 12px;
}

//animation to slide taxi in from right to left
.taxi {
    position: absolute;
    -webkit-animation: taxi 10s;
    animation-delay: 1s;
    animation: taxi 5s;
    top: 225px;
}

.resize {
    width: 100px;
    height: auto;
}

@keyframes taxi {
    from {
        right: -5%;
    }
    /*off-screen left (adjust for image width)*/
    to {
        right: 110%;
        display: none;
    }
    /*off-screen right*/
}