@import 'partials/colors';
@import 'partials/fonts';
@mixin box {
    border-radius: 25px;
    width: 400px;
    height: 200px;
    box-shadow: 5px 5px 11px rgba(108, 108, 108, 1.00);
    font-family: $body-font-stack;
}

@mixin form-body {
    font-family: $body-font-stack;
    font-size: 20px;
    color: $form-primary;
}

@mixin subheader {
    font-family: $header-font-stack;
    font-size: 40px;
}

@mixin button {
    background-color: $background-color !important;
    color: $header-color;
    border-radius: 5px !important;
    box-shadow: 5px 5px 11px rgba(108, 108, 108, 1.00) !important;
}

@mixin login-signup {
    border-radius: 25px;
    width: 400px;
    box-shadow: 5px 5px 11px rgba(108, 108, 108, 1.00);
    margin: 0px auto 0px auto;
    padding: 10px 20px 10px 20px;
    font-family: $body-font-stack;
    background-color: $header-font-color;
}

//all header stuff, including text, image and lohout button
.header {
    background-color: $header-color;
}

#header-image {
    opacity: 0.2;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
}

.header-text {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 8px;
    left: 110px;
    z-index: 0;
}

.header-text-grey {
    font-family: $header-font-stack;
    color: $header-grey;
    font-size: 100px;
    display: flex;
    flex-direction: row;
}

.header-text-yellow {
    font-family: $header-font-stack;
    color: $header-font-color;
    font-size: 100px;
    display: flex;
    flex-direction: row;
}

.logout-button {
    position: absolute;
    top: 8px;
    right: 60px;
    opacity: 0.2;
    width: 100px;
    height: auto;
}

//matching background color of body to color of NYC skyline image, making full-page
.body {
    min-height: 100vh;
    margin: auto;
    padding: 0;
    background-image: linear-gradient(180deg, #CCC6C0 0%, #8E9AAF 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: $header-font-stack;
    color: $header-color;
}

// input text for login, sign-up, and schedule forms
.form {
    @include form-body;
}

.simple_form input {
    background: transparent;
    border: none;
    border-bottom: 1px solid $header-color;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

.input {
    background: transparent;
    border: none;
    border-bottom: 1px solid $header-color;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

input.body {
    width: 95%;
}

.choose-museum-header {
    @include subheader;
}

.choose-museum {
    display: flex;
    flex-direction: row;
}

.schedule-page {
    margin-top: 0px;
}

.schedule-layout-morning {}

.schedule-layout-afternoon {}

//these two classes are styling the header on the schedule boxes
.card .card-corner .card-corner-triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 2em 2em 0;
    border-color: transparent #f1f2f2 transparent transparent;
}

.schedule-header-morning {
    @include subheader;
    color: $header-grey;
    font-size: 30px;
    text-align: center;
    width: 250px;
    padding: 5px;
    box-shadow: 5px 5px 11px rgba(108, 108, 108, 1.00);
    background-color: $header-color;
    transform: rotate(350deg);
    margin: 0px 0px -30px 40px;
    border-radius: 10px;
}

.schedule-header-afternoon {
    @include subheader;
    color: $header-grey;
    font-size: 30px;
    text-align: center;
    width: 250px;
    padding: 5px;
    box-shadow: 5px 5px 11px rgba(108, 108, 108, 1.00);
    background-color: $header-color;
    transform: rotate(350deg);
    margin: 0px 0px -30px 40px;
    border-radius: 10px;
}

//animation to fade in text from the right
@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(-15px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.right-fade {
    opacity: 0;
    animation: fade-in-right ease 0.4s forwards;
    animation-delay: 0.8s;
} //the four main boxes that will hold text content on the site
.schedule-box {
    @include box;
    background-color: $header-font-color;
    margin: 40px auto 10px auto;
}

.destination-box {
    @include box;
    background-color: $header-font-color;
    margin: 0px auto 50px auto;
}

.museum-restaurant-box {
    border-radius: 25px;
    width: 400px;
    height: 300px;
    box-shadow: 5px 5px 11px rgba(108, 108, 108, 1.00);
    background-color: $header-font-color;
    margin: 0px auto 50px auto;
}

.museum-name {
    font-family: $header-font-stack;
    color: $form-primary;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    height: 100px;
    padding: 10px 10px 0px 10px;
}

.restaurant-name {
    font-family: $header-font-stack;
    color: $header-font-stack;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    height: 100px;
    padding: 10px 10px 0px 10px;
}

.time-slot {
    font-family: $body-font-stack;
    font-size: 30px;
    color: $header-color;
    text-align: center;
    margin-top: 10px;
}

.schedule-submit-button {
    color: $header-color;
    border-radius: 5px !important;
    box-shadow: 5px 5px 11px rgba(108, 108, 108, 1.00) !important;
    background-color: #00e600 !important;
    font-size: 30px;
    width: 250px;
    margin-top: 20px;
    margin-left: 75px;
}

.checkered-line {
    margin-left: auto;
    margin-right: auto;
}

.white-square {
    height: 20px;
    width: 20px;
    background-color: white;
}

.black-square {
    height: 20px;
    width: 20px;
    background-color: black;
}

.all-day-schedule {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.morning-schedule {
    padding: 0px;
    margin: 0px auto 50px auto;
}

.afternoon-schedule {
    padding: 0px;
    margin: 0px auto 50px auto;
}

.dining-box {
    @include box;
    background-color: $header-font-color;
    margin: 0px auto 50px auto;
}

.login-background-image {
    /* The image used */
    background-image: url("new-york-night-skyline.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10000000;
}

.choose-schedule-box {
    border-radius: 25px;
    width: 400px;
    box-shadow: 5px 5px 11px rgba(108, 108, 108, 1.00);
    margin: 0px auto 0px auto;
    padding: 20px 20px 20px 20px;
    font-family: $body-font-stack;
    background-color: $header-font-color;
    height: 300px;
}

.login-box {
    @include login-signup;
    height: 300px;
}

.signup-box {
    @include login-signup;
    height: 350px;
}

#login-header {
    @include subheader;
    color: $header-color;
    text-shadow: rgba(84, 84, 84, 1.00) 0px -1px 4px;
}

.signup {
    font-family: $body-font-stack;
    color: $header-color;
    margin-left: 5px;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: $background-color;
}

.login-button {
    @include button;
    margin: 0px 0px 20px 5px;
}

.signup-button {
    @include button;
    margin: 0px 0px 20px 5px;
} //the hint sits below an input field and advises the user the format for entry
.hint {
    font-family: $body-font-stack;
    font-weight: $light;
    color: #f2f2f2;
    font-style: italic;
    font-size: 12px;
}

.sample-schedule-box {
    background-color: $header-font-color;
    box-shadow: 5px 5px 11px rgba(108, 108, 108, 1.00);
    border-radius: 25px;
    width: 800px;
    height: 60px;
    margin: 0px auto 0px auto;
    text-align: center;
    margin-bottom: 50px;
}

.sample-schedule-text {
    font-family: $header-font-stack;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 0px 0px 10px 0px;
}

.create-schedule-button {
    background-color: $header-font-color;
    box-shadow: 5px 5px 11px rgba(108, 108, 108, 1.00);
    border-radius: 25px;
    width: 800px;
    height: 60px;
    margin: 0px auto 0px auto;
    text-align: center;
}

.create-schedule-text {
    font-family: $header-font-stack;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 0px 0px 10px 0px;
}

.create-box {
    background-color: $header-font-color;
    box-shadow: 5px 5px 11px rgba(108, 108, 108, 1.00);
    border-radius: 25px;
    width: 500px;
    height: 60px;
    margin: 0px auto 40px auto;
}

.create-box-text {
    font-family: $header-font-stack;
    font-size: 40px;
    color: $form-primary;
    text-align: center;
    vertical-align: middle;
    padding: 0px 0px 10px 0px;
}

.schedule-button {
    color: $header-color;
    border-radius: 5px !important;
    box-shadow: 5px 5px 11px rgba(108, 108, 108, 1.00) !important;
    background-color: #00e600;
    font-size: 30px;
    width: 100px;
    margin: 20px auto 0px auto;
}

#submit {
    width: 50%;
    margin: 0 auto;
}

//animation to slide taxi in from right to left
.taxi {
    position: absolute;
    -webkit-animation: taxi 8s forwards;
    top: 225px;
}

.resize {
    width: 100px;
    height: auto;
}

@keyframes taxi {
    from {
        right: -5%;
    }
    /*off-screen left (adjust for image width)*/
    to {
        right: 110%;
        display: none;
    }
    /*off-screen right*/
}

#footer {
    bottom: 0;
    width: 100%;
    position: relative;
    height: 100px;
    background-color: $header-font-color;
    padding-top: 20px;
    margin-bottom: 0;
}

.footer-block {
    display: flex;
    flex-direction: row;
}

.yelp img {
    width: 10%;
    height: auto;
    padding-bottom: 10px;
}

.yelp {
    text-align: right;
    font-family: $header-font-stack;
    font-size: 20px;
    color: $background-color;
}

.social-icons {
    display: flex;
    flex-direction: row;
}

.icon {
    padding: 0px 10px 0px 10px;
}